<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT uBlogsyBaseDocType ANY>
<!ATTLIST uBlogsyBaseDocType id ID #REQUIRED>
<!ELEMENT uBlogsyBaseContainer ANY>
<!ATTLIST uBlogsyBaseContainer id ID #REQUIRED>
<!ELEMENT uBlogsyBasePage ANY>
<!ATTLIST uBlogsyBasePage id ID #REQUIRED>
<!ELEMENT uBlogsyAuthor ANY>
<!ATTLIST uBlogsyAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyLabel ANY>
<!ATTLIST uBlogsyLabel id ID #REQUIRED>
<!ELEMENT uBlogsyContainerAuthor ANY>
<!ATTLIST uBlogsyContainerAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyContainerLabel ANY>
<!ATTLIST uBlogsyContainerLabel id ID #REQUIRED>
<!ELEMENT uBlogsyLanding ANY>
<!ATTLIST uBlogsyLanding id ID #REQUIRED>
<!ELEMENT uBlogsyPage ANY>
<!ATTLIST uBlogsyPage id ID #REQUIRED>
<!ELEMENT uBlogsyPost ANY>
<!ATTLIST uBlogsyPost id ID #REQUIRED>
<!ELEMENT uBlogsyRSS ANY>
<!ATTLIST uBlogsyRSS id ID #REQUIRED>
<!ELEMENT uBlogsySiteRoot ANY>
<!ATTLIST uBlogsySiteRoot id ID #REQUIRED>
<!ELEMENT uDateFoldersyBase ANY>
<!ATTLIST uDateFoldersyBase id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderDay ANY>
<!ATTLIST uDateFoldersyFolderDay id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderMonth ANY>
<!ATTLIST uDateFoldersyFolderMonth id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderYear ANY>
<!ATTLIST uDateFoldersyFolderYear id ID #REQUIRED>
<!ELEMENT uTagsyBaseDocType ANY>
<!ATTLIST uTagsyBaseDocType id ID #REQUIRED>
<!ELEMENT uTagsyTag ANY>
<!ATTLIST uTagsyTag id ID #REQUIRED>
<!ELEMENT uTagsyTagContainer ANY>
<!ATTLIST uTagsyTagContainer id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <uBlogsySiteRoot id="1110" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-09-07T21:42:05" updateDate="2014-09-07T22:09:14" nodeName="Sample Site Root" urlName="sample-site-root" path="-1,1110" isDoc="" nodeType="1101" creatorName="Anthony" writerName="Anthony" writerID="0" template="1088" nodeTypeAlias="uBlogsySiteRoot">
    <umbracoNaviHide>0</umbracoNaviHide>
    <uBlogsyContentTitle><![CDATA[Home]]></uBlogsyContentTitle>
    <uBlogsyNavigationTitle><![CDATA[Home]]></uBlogsyNavigationTitle>
    <uBlogsyLanding id="1111" parentID="1110" level="2" creatorID="0" sortOrder="0" createDate="2014-09-07T21:42:05" updateDate="2014-09-07T22:09:58" nodeName="Blog" urlName="blog" path="-1,1110,1111" isDoc="" nodeType="1097" creatorName="Anthony" writerName="Anthony" writerID="0" template="1084" nodeTypeAlias="uBlogsyLanding">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[Blog]]></uBlogsyContentTitle>
      <uBlogsyNavigationTitle><![CDATA[Blog]]></uBlogsyNavigationTitle>
      <uBlogsyGeneralUseSummary>1</uBlogsyGeneralUseSummary>
      <uBlogsyGeneralShowSocialMedia>1</uBlogsyGeneralShowSocialMedia>
      <uBlogsyGeneralUseTitleAsNodeName>1</uBlogsyGeneralUseTitleAsNodeName>
      <uBlogsyBlogLinks><![CDATA[http://feeds.feedburner.com/UmbracoBlog
http://feeds.feedburner.com/midcodecrisis
]]></uBlogsyBlogLinks>
      <uBlogsyContainerAuthor id="1112" parentID="1111" level="3" creatorID="0" sortOrder="0" createDate="2014-09-07T21:42:05" updateDate="2014-09-07T22:07:54" nodeName="Authors" urlName="authors" path="-1,1110,1111,1112" isDoc="" nodeType="1095" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerAuthor">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyAuthor id="1113" parentID="1112" level="4" creatorID="0" sortOrder="0" createDate="2014-09-07T21:42:05" updateDate="2014-09-07T22:07:54" nodeName="Author 1" urlName="author-1" path="-1,1110,1111,1112,1113" isDoc="" nodeType="1093" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uBlogsyAuthor">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyAuthorName><![CDATA[Author 1]]></uBlogsyAuthorName>
        </uBlogsyAuthor>
      </uBlogsyContainerAuthor>
      <uBlogsyContainerLabel id="1114" parentID="1111" level="3" creatorID="0" sortOrder="1" createDate="2014-09-07T21:42:05" updateDate="2014-09-07T22:07:54" nodeName="Categories (optional)" urlName="categories-optional" path="-1,1110,1111,1114" isDoc="" nodeType="1096" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerLabel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyLabel id="1115" parentID="1114" level="4" creatorID="0" sortOrder="0" createDate="2014-09-07T21:42:05" updateDate="2014-09-07T22:07:54" nodeName="Category 1" urlName="category-1" path="-1,1110,1111,1114,1115" isDoc="" nodeType="1094" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uBlogsyLabel">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyLabelName><![CDATA[Category 1]]></uBlogsyLabelName>
        </uBlogsyLabel>
      </uBlogsyContainerLabel>
      <uTagsyTagContainer id="1116" parentID="1111" level="3" creatorID="0" sortOrder="2" createDate="2014-09-07T21:42:06" updateDate="2014-09-07T22:07:54" nodeName="Tags" urlName="tags" path="-1,1110,1111,1116" isDoc="" nodeType="1108" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uTagsyTagContainer">
        <uTagsyTag id="1117" parentID="1116" level="4" creatorID="0" sortOrder="0" createDate="2014-09-07T21:42:06" updateDate="2014-09-07T22:07:54" nodeName="Some Tag" urlName="some-tag" path="-1,1110,1111,1116,1117" isDoc="" nodeType="1107" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[Some Tag]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1125" parentID="1116" level="4" creatorID="0" sortOrder="1" createDate="2014-09-07T21:46:16" updateDate="2014-09-07T22:07:54" nodeName="test" urlName="test" path="-1,1110,1111,1116,1125" isDoc="" nodeType="1107" creatorName="Anthony" writerName="Anthony" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[test]]></uTagsyTagName>
        </uTagsyTag>
      </uTagsyTagContainer>
      <uBlogsyRSS id="1118" parentID="1111" level="3" creatorID="0" sortOrder="3" createDate="2014-09-07T21:42:06" updateDate="2014-09-07T22:07:54" nodeName="RSS" urlName="rss" path="-1,1110,1111,1118" isDoc="" nodeType="1100" creatorName="Anthony" writerName="Anthony" writerID="0" template="1087" nodeTypeAlias="uBlogsyRSS">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyRssTitle><![CDATA[My Blog]]></uBlogsyRssTitle>
        <uBlogsyRssDescription><![CDATA[Blog Description]]></uBlogsyRssDescription>
        <uBlogsyRssCopyright><![CDATA[Copyright @AnthonyDotNet]]></uBlogsyRssCopyright>
      </uBlogsyRSS>
      <uDateFoldersyFolderYear id="1129" parentID="1111" level="3" creatorID="0" sortOrder="6" createDate="2015-03-27T17:40:17" updateDate="2015-03-27T17:40:18" nodeName="2015" urlName="2015" path="-1,1110,1111,1129" isDoc="" nodeType="1105" creatorName="Anthony" writerName="Anthony" writerID="0" template="1089" nodeTypeAlias="uDateFoldersyFolderYear">
        <uDateFoldersyFolderMonth id="1131" parentID="1129" level="4" creatorID="0" sortOrder="0" createDate="2015-03-27T17:43:24" updateDate="2015-03-27T17:43:24" nodeName="March" urlName="march" path="-1,1110,1111,1129,1131" isDoc="" nodeType="1104" creatorName="Anthony" writerName="Anthony" writerID="0" template="1089" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1148" parentID="1131" level="5" creatorID="0" sortOrder="0" createDate="2015-03-27T18:27:39" updateDate="2015-03-27T18:27:39" nodeName="27" urlName="27" path="-1,1110,1111,1129,1131,1148" isDoc="" nodeType="1103" creatorName="Anthony" writerName="Anthony" writerID="0" template="1089" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1147" parentID="1148" level="6" creatorID="0" sortOrder="1" createDate="2015-03-27T18:27:39" updateDate="2015-03-27T18:37:06" nodeName="Test" urlName="test" path="-1,1110,1111,1129,1131,1148,1147" isDoc="" nodeType="1099" creatorName="Anthony" writerName="Anthony" writerID="0" template="1086" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentTitle><![CDATA[Test]]></uBlogsyContentTitle>
              <uBlogsyContentBody><![CDATA[<p>Body test</p>]]></uBlogsyContentBody>
              <uBlogsyNavigationTitle><![CDATA[Test]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2015-03-27T18:27:39</uBlogsyPostDate>
              <uBlogsyPostAuthor><![CDATA[1113]]></uBlogsyPostAuthor>
              <uBlogsyPostTags><![CDATA[1117]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
            </uBlogsyPost>
          </uDateFoldersyFolderDay>
        </uDateFoldersyFolderMonth>
      </uDateFoldersyFolderYear>
    </uBlogsyLanding>
    <uBlogsyPage id="1123" parentID="1110" level="2" creatorID="0" sortOrder="1" createDate="2014-09-07T21:42:06" updateDate="2014-09-07T22:08:50" nodeName="About" urlName="about" path="-1,1110,1123" isDoc="" nodeType="1098" creatorName="Anthony" writerName="Anthony" writerID="0" template="1085" nodeTypeAlias="uBlogsyPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[About]]></uBlogsyContentTitle>
      <uBlogsyNavigationTitle><![CDATA[About]]></uBlogsyNavigationTitle>
    </uBlogsyPage>
    <uBlogsyPage id="1124" parentID="1110" level="2" creatorID="0" sortOrder="2" createDate="2014-09-07T21:42:06" updateDate="2014-09-07T22:09:07" nodeName="Contact" urlName="contact" path="-1,1110,1124" isDoc="" nodeType="1098" creatorName="Anthony" writerName="Anthony" writerID="0" template="1085" nodeTypeAlias="uBlogsyPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[Contact]]></uBlogsyContentTitle>
      <uBlogsyNavigationTitle><![CDATA[Contact]]></uBlogsyNavigationTitle>
    </uBlogsyPage>
  </uBlogsySiteRoot>
</root>